<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>@ViewData["Title"] - Client.App</title>
    <link rel="stylesheet" href="~/lib/bootstrap/dist/css/bootstrap.min.css" />
    <link rel="stylesheet" href="~/css/site.css" />
</head>
<body>
    <header>
        <nav class="navbar navbar-expand-sm navbar-toggleable-sm navbar-light bg-white border-bottom box-shadow mb-3">
            <div class="container">
                <a class="navbar-brand" asp-area="" asp-controller="Home" asp-action="Index">Client.App</a>
                <button class="navbar-toggler" type="button" data-toggle="collapse" data-target=".navbar-collapse" aria-controls="navbarSupportedContent"
                        aria-expanded="false" aria-label="Toggle navigation">
                    <span class="navbar-toggler-icon"></span>
                </button>
                <div class="navbar-collapse collapse d-sm-inline-flex flex-sm-row-reverse">
					@* TODO NOT NECESSARY?? delete this file or maybe keep register button *@
                    @*<partial name="_LoginPartial" />*@
					<ul class="navbar-nav flex-grow-1">
						<li class="nav-item">
							<a class="nav-link text-dark" asp-area="" asp-controller="Home" asp-action="Index">Home</a>
						</li>
						<li class="nav-item">
							<a class="nav-link text-dark" asp-area="" asp-controller="Home" asp-action="PrivateData">Private Data</a>
						</li>
						<li class="nav-item">
							<a class="nav-link text-dark" asp-area="" asp-controller="Home" asp-action="CallApi">Call Api</a>
						</li>
						<li class="nav-item">
							<a class="nav-link text-dark" asp-area="" asp-controller="Home" asp-action="Privacy">Privacy</a>
						</li>

						@if (Context.User.Identity.IsAuthenticated)
						{
							<li class="nav-item">
								<a class="nav-link text-dark" asp-area="" asp-controller="Account" asp-action="Logout">Logout</a>
							</li>
						}
						else
						{
							<li class="nav-item">
								<a class="nav-link text-dark" asp-area="" asp-controller="Account" asp-action="Login">Login</a>
							</li>
						}

						@* TODO IMPORTANT *@

						@* @if (User.Identity.IsAuthenticated)
		{
			<li class="nav-item">
				<form asp-controller="Account" asp-action="Logout" method="post">
					<input type="submit" value="Logout" />
				</form>
			</li>
		}



		@if (Context.User.Identity.IsAuthenticated)
		{
		else
		{
			<li><a asp-area="" asp-controller="Login" asp-action="Login">Login</a></li>
		}
			<li><a asp-area="" asp-controller="Login" asp-action="Logout">Logout</a></li>
		}

						*@
					</ul>
                </div>
            </div>
        </nav>
    </header>
	<div class="container">
		@* TODO is this necessary, and to have _CookieConsentPartial.cshtml in this Shared folder *@
		@*<partial name="_CookieConsentPartial" />*@
		<main role="main" class="pb-3">
			@RenderBody()
		</main>
	</div>

    <footer class="border-top footer text-muted">
        <div class="container">
            &copy; 2020 - Client.App - <a asp-area="" asp-controller="Home" asp-action="Privacy">Privacy</a>
        </div>
    </footer>
    <script src="~/lib/jquery/dist/jquery.min.js"></script>
    <script src="~/lib/bootstrap/dist/js/bootstrap.bundle.min.js"></script>
    <script src="~/js/site.js" asp-append-version="true"></script>
    @RenderSection("Scripts", required: false)
</body>
</html>
