@page
@model Optivem.Cli.Web.UI.Pages.MyFoos.CreateModel
@{
    ViewData["Title"] = "Create";
}

<h1>Create</h1>

<h4>MyFoo</h4>
<hr />
<div class="row">
    <div class="col-md-4">
        <form method="post">
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
            <div class="form-group">
                <label asp-for="MyFoo.FirstName" class="control-label"></label>
                <input id="first-name" asp-for="MyFoo.FirstName" class="form-control"  />
                <span asp-validation-for="MyFoo.FirstName" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="MyFoo.LastName" class="control-label"></label>
                <input id="last-name" asp-for="MyFoo.LastName" class="form-control" />
                <span asp-validation-for="MyFoo.LastName" class="text-danger"></span>
            </div>
            <div class="form-group">
                <input id="create" type="submit" value="Create" class="btn btn-primary" />
            </div>
        </form>
    </div>
</div>

<div>
    <a asp-page="Index">Back to List</a>
</div>

@section Scripts {
    @{await Html.RenderPartialAsync("_ValidationScriptsPartial");}
}